* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background: lavender;
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
}

h2 {
    color: #FA056B;
}

fieldset {
    background: white;
    border: thin solid skyblue;
    border-radius: 1em;
    padding: 1em;
}

form {
    margin: .5em auto;
    width: 80%;
}

input[type="button"] {
    background: #FA056B;
    border: thin solid transparent;
    border-radius: .5em;
    color: black;
    cursor: pointer;
    font-size: 1em;
    padding: .5em;
}

input[type="button"]:hover {
    background: white;
    border: thin solid #F60;
    border-radius: 0;
    color: black;
}

input[type="radio"], label {
    cursor: pointer;
}

input[type="text"], textarea {
    background: white;
    border: thin solid skyblue;
    border-radius: 1em;
    color: black;
    font-size: 1em;
    padding: .25em;
}

input[type="text"]:focus, textarea:focus {
    background: white;
}

textarea {
    resize: none;
}

legend {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

.cambio {
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

:focus {
    box-shadow: .1em .1em .5em rgba(255, 102, 0, .5);
    outline: thin solid #F60;
}